                                         
    <!-- continer page -->
    <section class="hero">
    <div class="container1 flex items-center mx-auto justify-between py-4 height-300px mt-30 ">
        <div class="w-1/2 px-20" data-aos="fade-up" data-aos-duration="2000">
            <h4 class="text-lg"><em>Best services</em></h6>
                <h1 class="text-6xl font-bold"><span> best contracter in Ludhiana </span></h1>
                <!-- <button class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-4">
                    Order now
                </button> -->
            </div>
            <div class="w-1/2">
                <img class="factory" src="/img/factory.png" alt="image is loading" height="1500px" width="1500px" />
            </div>
        </div>
        </section>
    <!-- man-power -->
    <div class="container flex items-center mx-auto justify-between py-4 height-400px ">
        <!-- left  -->
        <div class="w-1/2">
            <img class="factory" src="/img/worker.jpg" alt="image is loading" height="1500px" width="1500px" />
        </div>
        <!-- right -->
        <div class="w-1/2 px-20" data-aos="fade-up" data-aos-duration="2000">
            <h4 class="text-lg"><em>Always high production</em></h6>
                <h1 class="text-6xl font-bold"><span>All types of man power </span></h1>
                <!-- <button class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-4">
                Order now
            </button> -->
        </div>
    </div>

    <!-- high production -->
    <div class="container flex items-center mx-auto justify-between py-4 height-300px mt-30 ">
        <div class="w-1/2 px-20" data-aos="fade-up" data-aos-duration="2000">
            <h4 class="text-lg"><em>low cost</em></h6>
                <h1 class="text-6xl font-bold"><span>High production at a resonable price</span></h1>
                <!-- <button class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-4">
                Order now
            </button> -->
        </div>
        <div class="w-1/2">
            <img class="factory" src="/img/worker2.jpg" alt="image is loading" height="1500px" width="1500px" />
        </div>
    </div>