<section class="hero">
    <div class="container1 flex items-center mx-auto justify-between py-4 height-400px ">
        <!-- left  -->
        <div class="w-1/2">
            <img class="factory" src="/img/agreement.png" alt="image is loading" height="1000px" width="1000px" />
        </div>
        <!-- right -->
        <div class="w-1/2 px-20" data-aos="fade-up" data-aos-duration="2000">
            <h6 class="text-lg"><em>we belives in Trust</em></h6>
                <p class=" font-bold"><span>All types of man power Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Eos id animi eaque exercitationem delectus sequi eius odio obcaecati autem
                        quos, rem incidunt, pariatur perspiciatis libero saepe deleniti mollitia dolore
                        voluptatum.</span></p>

                        <h4 class="nav-bar-name text-lg font-bold">Email:</h6><p>arnavdass123@gmail.com</p>
                        <h4 class="nav-bar-name text-lg font-bold">Contact:</h6><p>8146405697</p>
                        
        </div>
    </div>
</section>
<section>
    <div class="container1 flex items-center mx-auto justify-between py-4 height-400px ">
        <!-- right -->
        <div class="w-1/2 px-20" data-aos="fade-up" data-aos-duration="2000">
            <h4 class="text-lg"><em>we belives in Trust</em></h6>
                <p class=" font-bold"><span>All types of man power Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Eos id animi eaque exercitationem delectus sequi eius odio obcaecati autem
                        quos, rem incidunt, pariatur perspiciatis libero saepe deleniti mollitia dolore
                        voluptatum.</span></p>
        </div>
        <!-- left  -->
        <div class="w-1/2">
            <img class="factory" src="/img/agreement.png" alt="image is loading" height="1500px" width="1500px" />
        </div>
    </div>
</section>